
<body>

<div class="jumbotron">
  <h1 class="display-3">Welcome to the League of Extraordinary Gentlemen!</h1>
  <p class="lead">Play a new kind of fantasy football with your friends.</p>
  <hr class="my-2">
  <p>Battle it out to achieve fantasy dominance and the admiration of your peers</p>
  <% if session.fetch(:user_id) == nil %>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/user_sign_in" role="button">Log In</a>
    </p>
  <% else %>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/u/<%= session.fetch(:user_id) %>" role="button">Go to Your Profile</a>
    </p>
  <% end %>

</body>

</html>