<div class="d-flex justify-content-center">
  <img src="https://therules.org/wp-content/uploads/2017/10/LogoHorizontal.png" width="80%" height="auto">
</div>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">The Aggressor</h4>
      <p class="card-text">Neither the Aggressor nor his opponent count points scored by their Defenses or Kickers.</p>
      <div class="d-flex justify-content-center">
        <img src= "http://www.scifimoviezone.com/imagesteampunk/lxg015.jpg" alt="The Aggressor" width="50%" height="auto">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">The Aquaman</h4>
      <p class="card-text">Earns 1.722x points when playing a coastal player (i.e., "Y" in the "Coastal?" column), but their opponent earns 2x points when playing a non-coastal player (i.e., "-" in the "Coastal?" column).</p>
      <div class="d-flex justify-content-center">
        <img src= "https://cdn.vox-cdn.com/thumbor/c3UJimJomy8etq4qcD8eUmvaSyk=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/13644126/aquaman_hero_image_0.jpg" alt="The Aggressor" width="50%" height="auto">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">The Equalizer</h4>
      <p class="card-text">Plays against the weekly average score of all teams, rather than their opponent's score.</p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">The Gentlemen Thief</h4>
      <p class="card-text">Each week, the Gentleman Thief and his opponent make a certain number of players "available" to be stolen (one player in Week 1, two players in Week 2, etc.). The winning team can force a trade of one of their exposed players for one of their opponent's.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">The Gunslinger</h4>
      <p class="card-text">Earns 2x points for WRs, 0.5x points for RBs.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">The Immortal</h4>
      <p class="card-text">Earns 2x points when playing rookies. Players in their second, third, and fourth season earn 1x points. Players in their fifth, sixth, seventh, eighth, or ninth season earn 0.5x points. All other players earn 0x points.</p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Invisible Man</h4>
      <p class="card-text">Can temporarily swap one of their players for an opponent's player. Swapped players must be from same (non-QB) position, not injured, starting, and must have scored 50% of the stolen player's points last week. If stolen player outscores swapped player, Invisible Man loses.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Juggernaut</h4>
      <p class="card-text">Only drafts one player. Weekly Score = (player's score) x (10 - (0.5 x number of losses)).</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Scrooge</h4>
      <p class="card-text">Earns a 10 point bonus each week that he starts players whose combined salaries are less than $55 million. Loses 10 points each week he's over the cap.</p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Sorting Hat</h4>
      <p class="card-text">Earns 2x points for WRs, 0.5x points for RBs.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Time Lord</h4>
      <p class="card-text">Has the option, on Tuesday morning, to retroactively substitute one benched player for one starting player. If they exercise that option, the moved-in player must be started the following week, and the moved-out player cannot be started the following week.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Vampire</h4>
      <p class="card-text">Has first priority to the waiver wire each week. If she ever scores more points than her opponent, the Vampire can force through a like-for-like (e.g., RB for RB) trade with her opponent.</p>
    </div>
  </div>

</div>
